<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Proyect</title>
    <link rel="icon" href="/imagenes/Log.jpeg">
    <link rel="stylesheet" href="resources/css/conteiner.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body id="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/index">
            <img src='/imagenes/utb-logotipo-blanco.png' alt="" width="120" height="60" class="d-inline-block align-text-top-center" ></img>
            </a>   
          </ul>  
        </div>
        </div>
    </nav>
    <main>
        <% if (results) 
        { %>
            <div class="container"> <div class=" text-center mt-5 ">
                <h1>Actualizar Usuario</h1>
            </div>
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-light">
                        <div class="card-body bg-light">
                            <div class="container">
                                <form action="/editar_usuario" method="post">
                                    <input type="hidden" id="idusuarios" name="idusuarios" value="<%=results.idusuario%>">
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"> <label for="form_name">Codigo *</label> <input id="id" type="text" name="idusuario" class="form-control"  placeholder="<%=results.idusuario%>" value="<%=results.idusuario%>" required="required" readonly> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"> <label for="form_lastname">Nombre *</label> <input id="nombre" type="text" name="nombre" class="form-control" placeholder="<%= results.nombrepersona%> *" value="<%=results.nombrepersona%>" data-error="El nuevo nombre es requerido"> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"> <label for="form_need"> Genero *</label> <select id="sexo" name="sexo" class="form-control" required="required" data-error="Por favor ingrese el sexo">
                                                        <option value="" selected disabled>--Seleccione el sexo--</option>
                                                        <option <%=results.sexo%> value = 'M'>Femenino</option>
                                                        <option <%=results.sexo%> value="H">Masculino</option>
                                                    </select> 
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"> <label for="form_email">Email *</label> <input id="email" type="email" name="email" class="form-control" placeholder="Ingrese su correo*" value="<%=results.correo%>" required="required" data-error="Valid email is required."> </div>
                                            </div> 
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"> <label for="form_need"> Rol *</label> <select id="rol" name="rol" class="form-control" required="required" data-error="Por favor ingrese el sexo">
                                                        <option value="" selected disabled>--Seleccione el rol--</option>
                                                        <option <%=results.posicion%> value="1">Administrador</option>
                                                        <option <%=results.posicion%> value="2">Profesor</option>
                                                        <option <%=results.posicion%> value="3">Estudiantes</option>
                                                    </select> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block" value="Editar"> </div>
                                            <div class="col-md-6"> <a href="/usuarios" class="btn btn-danger btn-send pt-2 btn-block "> Cancelar</a></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /.8 -->
                </div> <!-- /.row-->
            </div>
        </div>
        <%}%>
    </main>  
    <script src="resources/css/script.js"></script>
</body>
</html>

